*{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#form{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    text-align: center;
}